Repository andrazbajec/flight-analyser, pull requests merged in 2021-09, with the labels that each got.

#3 [F] - created-mvp-api
  flight-analyser-api/.env.dist
  flight-analyser-api/.gitignore
  flight-analyser-api/composer.json
  flight-analyser-api/composer.lock
  flight-analyser-api/index.php
  flight-analyser-api/src/controller/DatabaseController.php
  flight-analyser-api/src/controller/QuoteController.php
  flight-analyser-api/src/controller/RouteController.php
Labels: enhancement, fa-api

#2 [F] - created-mvp-frontend
  flight-analyser-frontend/package-lock.json
  flight-analyser-frontend/package.json
  flight-analyser-frontend/src/App.css
  flight-analyser-frontend/src/App.tsx
  flight-analyser-frontend/src/helper/FetchHelper.tsx
  flight-analyser-frontend/src/interface/BaseInterface.tsx
Labels: enhancement, fa-frontend

#1 [F] - created-mvp-crawler
  flight-analyser-crawler/.env.dist
  flight-analyser-crawler/app.ts
  flight-analyser-crawler/helpers/DatabaseHelper.ts
  flight-analyser-crawler/helpers/FetchHelper.ts
  flight-analyser-crawler/helpers/FileHelper.ts
  flight-analyser-crawler/interfaces/BaseInterface.ts
  flight-analyser-crawler/interfaces/DatabaseInterface.ts
  flight-analyser-crawler/package-lock.json
  flight-analyser-crawler/package.json
  flight-analyser-crawler/tsconfig.json
  flight-analyser-database/20210831_AB.sql
Labels: enhancement, fa-crawler

#13 [FE] - read API url from .env
  flight-analyser-frontend/.env.dist
  flight-analyser-frontend/src/App.tsx
Labels: enhancement, fa-frontend

#15 [FE][B] - fix browser errors
  .idea/codeStyles/Project.xml
  flight-analyser-frontend/src/App.css
  flight-analyser-frontend/src/App.tsx
Labels: bug, fa-frontend

#17 [FA][F] - prepare a README
  README.md
  flight-analyser-frontend/README.md
Labels: enhancement, fa-frontend, fa-api, fa-crawler

#16 [FE][F] - ordering and groupings
  flight-analyser-frontend/package-lock.json
  flight-analyser-frontend/package.json
  flight-analyser-frontend/src/App.css
  flight-analyser-frontend/src/App.tsx
  flight-analyser-frontend/src/helper/FetchHelper.tsx
  flight-analyser-frontend/src/index.tsx
  flight-analyser-frontend/src/interface/BaseInterface.tsx
Labels: enhancement, fa-frontend

#18 [8][AF][F] - change display of country of booking
  flight-analyser-api/src/controller/DatabaseController.php
  flight-analyser-api/src/controller/QuoteController.php
  flight-analyser-frontend/src/App.css
  flight-analyser-frontend/src/App.tsx
  flight-analyser-frontend/src/interface/BaseInterface.tsx
Labels: documentation, fa-frontend, fa-api

#20 [19][FE][F] - Save locations to localStorage
  flight-analyser-frontend/src/App.tsx
  flight-analyser-frontend/src/interface/BaseInterface.tsx
Labels: feature, fa-frontend
